/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Cut and Tag Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

nextflow.enable.dsl = 2

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

docker.runOptions = '-u $(id -u):$(id -g)'
singularity.enabled = true


params {
    // Base Configuration
    data_dir                   = "${launchDir}/data"
    results_dir                = "${launchDir}/results"
    publish_dir_mode           = "copy"

    // References
    genome                     = "WBcel235"
    spikein_genome             = "K12-MG1655" // a common E. coli strain
    save_reference             = false
    save_chromsize             = false
    

    // Read Normalisation
    normalisation_mode         = "Spikein"
    normalisation_binsize      = 50
    normalisation_c            = 10000
    igg_scale_factor           = 0.5

    // Trimming
    clip_r1                    = 0
    clip_r2                    = 0
    three_prime_clip_r1        = 0
    three_prime_clip_r2        = 0
    trim_nextseq               = 0
    save_trimmed               = false


    // Alignment
    aligner                    = "bowtie2"
    save_align_target          = false
    save_align_spikein         = false
    save_unaligned             = false
    end_to_end                 = true

    // Deduplication
    dedup_target_reads         = false
    save_markdup_bam           = false
    save_dedup_bam             = false

     // Peak Calling
    use_control                = true
    extend_fragments           = true
    seacr_norm                 = 'non'
    seacr_stringent            = 'stringent'
    seacr_peak_threshold       = 0.05
    macs2_pvalue               = null
    macs2_qvalue               = 0.01
    macs_gsize                 = 2.7e9
    macs2_narrow_peak          = true
    macs2_broad_cutoff         = 0.1


    // Peak Caller default param
    peakcaller                 = 'seacr' //The Only Valid options 'seacr' or 'macs2'

    // genome rsem_index
    igenomes_base              = "s3://ngi-igenomes/igenomes/"
}

// Load base.config by default for all pipelines
includeConfig "conf/base.config"

// Load igenomes.config 
includeConfig 'conf/igenomes.config'

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

def trace_timestamp = new java.util.Date().format( "yyyy-MM-dd_HH-mm-ss")
timeline {
    enabled = true
    file    = "${params.results_dir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.results_dir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.results_dir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.results_dir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}