/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

    process {
        withName: '.*:ALIGN_BOWTIE2:ALIGN_TARGET' {
            ext.args   = { params.end_to_end ? '--end-to-end --very-sensitive --no-mixed --no-discordant --phred33 --minins 10 --maxins 700 --dovetail' : '--local --very-sensitive --no-mixed --no-discordant --phred33 --minins 10 --maxins 700 --dovetail' }
            publishDir = [
                [
                    path: { "${params.results_dir}/02_alignment/${params.aligner}/target/log" },
                    mode: "${params.publish_dir_mode}",
                    pattern: '*.log'
                ],
                [
                    path: { "${params.results_dir}/02_alignment/${params.aligner}/target" },
                    mode: "${params.publish_dir_mode}",
                    pattern: '*.bam',
                    enabled: params.save_align_intermed
                ],
                [
                    path: { "${params.results_dir}/02_alignment/${params.aligner}/target/unmapped" },
                    mode: "${params.publish_dir_mode}",
                    pattern: '*.fastq.gz',
                    enabled: params.save_unaligned
                ]
            ]
        }

        withName: '.*:ALIGN_BOWTIE2:ALIGN_SPIKEIN' {
            ext.args   = { params.end_to_end ? '--end-to-end --very-sensitive --no-overlap --no-dovetail --no-mixed --no-discordant --phred33 --minins 10 --maxins 700' : '--local --very-sensitive --no-overlap --no-dovetail --no-mixed --no-discordant --phred33 --minins 10 --maxins 700' }
            ext.prefix = { "${meta.id}.spikein" }
            publishDir = [
                [
                    path: { "${params.results_dir}/02_alignment/${params.aligner}/spikein/log" },
                    mode: "${params.publish_dir_mode}",
                    pattern: '*.log'
                ],
                [
                    path: { "${params.results_dir}/02_alignment/${params.aligner}/spikein" },
                    mode: "${params.publish_dir_mode}",
                    pattern: '*.bam',
                    enabled: params.save_spikein_aligned
                ],
                [
                    path: { "${params.results_dir}/02_alignment/${params.aligner}/spikein/unmapped" },
                    mode: "${params.publish_dir_mode}",
                    pattern: '*.fastq.gz',
                    enabled: params.save_spikein_aligned 
                ]
            ]
        }

         withName: '.*:FASTQC' {
            ext.args   = '--quiet'
            publishDir = [
                path: { "${params.results_dir}/01_prealign/pretrim_fastqc" },
                mode: "${params.publish_dir_mode}"
            ]
        }

        /*
        ========================================================================================
            ANNOTATE META WITH ALIGN AND DUP STATS
        ========================================================================================
        */

        withName: '.*:EXTRACT_BT2_TARGET_META:AWK_SCRIPT' {
            ext.suffix = "_meta_bt2_target"
            publishDir = [
                enabled: false
            ]
        }

        withName: '.*:EXTRACT_BT2_SPIKEIN_META:AWK_SCRIPT' {
            ext.suffix = "_meta_bt2_spikein"
            publishDir = [
                enabled: false
            ]
        }

        /*
        ========================================================================================
            DUPLICATES
        ========================================================================================
        */

        withName: '.*:MARK_DUPLICATES_PICARD:PICARD_MARKDUPLICATES' {
            ext.args = "--ASSUME_SORT_ORDER coordinate --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp"
            ext.prefix = { "${meta.id}.target.markdup" }
            publishDir = [
                path: { "${params.results_dir}/02_alignment/${params.aligner}/target/markdup" },
                mode: "${params.publish_dir_mode}",
                pattern: "*.bam",
                enabled: params.save_markdup_bam
            ]
        }

        withName: '.*:DEDUPLICATE_PICARD:PICARD_MARKDUPLICATES' {
            ext.args = "--ASSUME_SORT_ORDER coordinate --REMOVE_DUPLICATES true --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp"
            ext.prefix = { "${meta.id}.target.dedup" }
            publishDir = [
                path: { "${params.results_dir}/02_alignment/${params.aligner}/target/dedup" },
                mode: "${params.publish_dir_mode}",
                pattern: "*.bam",
                enabled: params.save_dedup_bam
            ]
        }

    }